/.vs/haspnt64/v16
/Debug
/Release-W64
/Release
/dumplog/Debug
/dumplog/Release
/haspnt64/Debug
/haspnt64/Release
/haspnt64/x64/Release-signed
/haspvdd/.vs/haspvdd/v16
/haspvdd/Debug
/haspvdd/Release-W64
/haspnt64/x64/Release
/haspvdd/Release
/x64/Release-signed
/x64/Release
/haspnt64/sign/ts/stamp-ca.key
/haspnt64/sign/openssl/libeay32.dll
/haspnt64/sign/openssl/openssl.exe
/haspnt64/sign/openssl/ssleay32.dll
/haspnt64/sign/ts/sha1/stamp.key
/haspnt64/sign/ts/stamp.srl
